{%import 'macros.html' as macro%}
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">60SEC PITCH</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
            </li>
            <!-- <li class="nav-item dropdown"> -->
                <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    categories
                </a> -->
                <ul class="nav navbar-nav">
                    <li><a href="/">categories</a></li>
                </ul>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {{macro.displayCategory(categories)}}
                </div>
            </li>
        </ul>
        
        <ul class="navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <!-- <li class="nav-item">
                <a class="nav-link" href="/">{{current_user.username.capitalize()}}</a>
            </li> --> 
            <li style="color:rgb(72, 102, 236);padding:15px;">{{current_user.username.capitalize()}}</li>
            <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
            {%else%}
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('auth.login')}}">Sign In</a>
            </li>
            {%endif%}
        </ul>
    </div>
</nav>


